<<<<<<< HEAD
h1 {
    color: #8e8e8e;
    font-family: "kollektif";
    font-size: 90px;
}

body {
    background-color: white;
    font-family:"champagne and limousine";
    color:#c9c9c9;
    font-size: 40px; 
    text-align: 
    margin: 
}
